@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.two {
    color: black;
}
.item {
    color: white;
}
#home {
  background-image: url(hme_img-2.webp);
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    gap: 1rem;
}
.mater{
    font-weight: bold;
}
.now{
    background-color:white;
    color: black;
}
.navi {
    border: 0.5px solid black;
    /* border-top: 0.5px solid black; */
    
}
.text {
    color: black; 
    font-family:"DM Sans", sans-serif;
}
.three {
    /* background-color:#e4c1f9; */
    background-color: #d994fe;
}
.btn {
    background-color: #d994fe;
    border-color: black;
    color: black;
}
.btn:hover {
    background-color: white;
    border-color: black;
    color: black;
}


.ab {
    color: black;
    background-color: #ecd4fb;
}
.card:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.profile{
    background-image: url(profile-1.jpeg);
    width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid white;
    max-width: 80vw;
    margin: 0 auto;
}
.pros{
    /* background-image: linear-gradient(139deg,rgb(20,3,44)1.17%,rgb(65,9,146)98.85%); */
    background-color: #cd70fd;
    width: 400px;
    height: 300px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    border:1px solid black;
}
.pros:hover{
    transform: scale(1.01);
    transition: 0.3s ease;
    box-shadow: 0 0 20px whitesmoke;
}
.scroll-container {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}

.no-scrollbar::-webkit-scrollbar {
  display: none;          
}
.overflow-x-hidden{
    overflow-x: hidden;
}
.sk{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(139deg,rgb(20,3,44)1.17%,rgb(65,9,146)98.85%);
}
label {
    color: white;
}
.hyper{
    background-image: url(html_img.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.cs{
    background-image: url(css_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.java {
    background-image: url(js_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.cpp{
    background-image: url(cpp_img.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.c{
    background-image: url(c_img.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.python{
    background-image: url(pyhton_img.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.ltspice{
    background-image: url(ltspice_icon.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.logisim{
    background-image: url(logisim_img.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.matlab{
    background-image: url(matlab_img.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rps{
    background-image: url(rps_img1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.profile_cards {
    background-image: url(prop-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
}
.pf{
    background-image: url(portifolio_img.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}
/* media queries */
@media(max-width:992px){
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin: auto 0;
    }
    .profile{
        width:250px;
        height: 250px;

    }
    .cont{
        margin-top: 2rem;
        width: 70%;
    }
    .navi{
        position: fixed;
    }
    .pros{
        width: 400px;
        height: 250px;
    }
    .skill{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:576px){
    .cs{
        background-size: contain;
    }
    .pros{
        width: 300px;
        height: 200px;
    }
    .logisim{
        background-size: contain;
    }
    /* .para{
        width: 300px;
        height: 200px;
    } */
    /* .cont{
        margin-top: 20px;
        width: 80%;
        text-align: center;

    } */
    .home{
        padding-top: 0;
    }
    .text{
        padding-top: 0;
        margin-top: 0;
    }
    .hero{
        display: flex;
        flex-direction: column;
        gap:1rem;
    }
    .profile{
        width: 250px;
        height: 250px;
    }
    .projec{
        padding-bottom: 30px;
    }
    .pros {
        padding-top: 5px;
        margin-left: 52px;
        width: 72vw;
    }
    .skill{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    h5{
        text-align: center;
    }
    .tooli {
        display: flex;
        margin: 0 auto;
        width: 250px;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
    }
    .sk{
        width:80px;
        height: 80px;
    }
    .matlab{
        background-size: contain;
    }
    .ltspice{
        background-size: contain;
    }
    .ab{
        padding-bottom: 1rem;
    }
}
@media(min-width: 1200px){
    .textskill{
        padding-top: 20px;
    }
    .cont{
        padding-left: 10px;
    }
    
}
